@stylex stylesheet;

::before,
*,
::after {
  @media (prefers-reduced-motion: reduce) {
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-delay: 0s !important;
    animation-duration: 0s !important;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #abb2bf;
  background-color: #282c34;
}

a {
  font-weight: 500;
  color: #98c379;
  text-decoration: inherit;
}
a:hover {
  color: #98c379;
}

button {
  background: none;
  font-size: 1.3rem;
  border: 2px solid #abb2bf;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: #abb2bf55;
  transition: background-color 0.2s ease-in-out;
}

body {
  margin: 0;
}

h2 {
  margin: 4px 0;
}
